@model Darbuotojai.Application.ViewModels.DarbuotojasDto
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Darbuotojas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vardas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vardas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pavardė)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pavardė)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsmensKodas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsmensKodas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GimimoData)
        </dt>
        <dd class="col-sm-10">
            @Model.GimimoData.ToString("yyyy-mm-dd")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamoNumeris)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamoNumeris)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miestas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miestas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PastoKodas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PastoKodas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktyvus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktyvus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
