@model IEnumerable<Darbuotojai.Application.ViewModels.DarbuotojasDto>
@{
    ViewData["Title"] = "Darbuotojai CRUD";
}

<h1>Darbuotojai</h1>

@using (Html.BeginForm())
{
    <div class="row">
            <div class="col-6 col-sm-3">

                @if ((string) ViewData["filtras"] == "visi")
                {
                    <label class="radio-inline">
                        <input value="visi" id="visi" type="radio" name="filtras" checked onchange="this.form.submit()"> Visi Darbuotojai
                    </label>
                }
                else
                {
                    <label class="radio-inline">
                        <input value="visi" id="visi" type="radio" name="filtras" onchange="this.form.submit()"> Visi Darbuotojai
                    </label>
                }
            </div>
            <div class="w-100"></div>

            <div class="col-6 col-sm-3">

                @if ((string) ViewData["filtras"] == "aktyvus")
                {
                    <label class="radio-inline">
                        <label class="radio-inline"><input value="aktyvus" id="aktyvus" type="radio" name="filtras" checked onchange="this.form.submit()"> Aktyvūs</label>
                    </label>
                }
                else
                {
                    <label class="radio-inline">
                        <label class="radio-inline"><input value="aktyvus" id="aktyvus" type="radio" name="filtras" onchange="this.form.submit()"> Aktyvūs</label>
                    </label>
                }

            </div>

            <div class="w-100"></div>

            <div class="col-6 col-sm-3">
                @if ((string) ViewData["filtras"] == "neAktyvus")
                {
                    <label class="radio-inline"><input value="neAktyvus" id="neAktyvus" type="radio" name="filtras" checked onchange="this.form.submit()"> Neaktyvūs</label>
                }
                else
                {
                    <label class="radio-inline"><input value="neAktyvus" id="neAktyvus" type="radio" name="filtras" onchange="this.form.submit()"> Neaktyvūs</label>
                }
            </div>
        </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vardas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pavardė)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsmensKodas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GimimoData.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamoNumeris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gatve)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miestas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PastoKodas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktyvus)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vardas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pavardė)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsmensKodas)
            </td>
            <td>
                @item.GimimoData.ToString("yyyy-mm-dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamoNumeris)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gatve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miestas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PastoKodas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktyvus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
    }
    </tbody>
</table>
